:root{
    --primary:rgb(85, 124, 187);
    --secondary:yellow;
}
.bg-primary{
    background-color: var(--primary)!important;
}
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary); /* Si vous souhaitez également modifier la couleur de la bordure */
}

.progress-text {
    color: white; 
    text-align: center; 
    position: absolute; 
    width: 100%; 
    top: 50%; 
    transform: translateY(-50%); 
}
.progress {
    height: 20px; /* Hauteur des barres de progression */
}

.progress-bar {
    height: 100%; /* Hauteur de la barre de progression */
    background-color: rgb(201, 224, 89);
}

.progress-text {
    line-height: 20px; /* Pour centrer verticalement le texte */
}

.progress-bar-striped{
    color: rgb(0, 0, 0);
} 