:root{
    --primary:rgb(85, 124, 187);
    --secondary:yellow;
}
.bg-primary{
    background-color: var(--primary)!important;
}
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary); /* Si vous souhaitez également modifier la couleur de la bordure */
}